RewriteEngine On
# snapshot docs
RewriteRule ^docs/([^/]+)/snapshot/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/docs/$2 [P]
RewriteRule ^api/([^/]+)/snapshot/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/api/$2 [P]
RewriteRule ^japi/([^/]+)/snapshot/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/japi/$2 [P]
# broken current links in legacy docs
RewriteRule ^docs/pekko/current/project/migration-guides.html https://pekko.apache.org/docs/pekko/current/migration/migration-guide-akka-1.0.x.html [P]
# pekko/current gets redirected to pekko/1.1
RewriteRule ^docs/pekko/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko/1.1/docs/$1 [P]
RewriteRule ^api/pekko/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko/1.1/api/$1 [P]
RewriteRule ^japi/pekko/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko/1.1/japi/$1 [P]
# pekko-http/current gets redirected to pekko-http/1.2
RewriteRule ^docs/pekko-http/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-http/1.2/docs/$1 [P]
RewriteRule ^api/pekko-http/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-http/1.2/api/$1 [P]
RewriteRule ^japi/pekko-http/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-http/1.2/japi/$1 [P]
# pekko-management/current gets redirected to pekko-management/1.1
RewriteRule ^docs/pekko-management/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-management/1.1/docs/$1 [P]
RewriteRule ^api/pekko-management/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-management/1.1/api/$1 [P]
# pekko-grpc/current gets redirected to pekko-grpc/1.1
RewriteRule ^docs/pekko-grpc/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-grpc/1.1/docs/$1 [P]
RewriteRule ^api/pekko-grpc/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-grpc/1.1/api/$1 [P]
# pekko-connectors/current gets redirected to pekko-connectors/1.1
RewriteRule ^docs/pekko-connectors/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-connectors/1.1/docs/$1 [P]
RewriteRule ^api/pekko-connectors/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-connectors/1.1/api/$1 [P]
# pekko-connectors-kafka/current gets redirected to pekko-connectors-kafka/1.1
RewriteRule ^docs/pekko-connectors-kafka/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-connectors-kafka/1.1/docs/$1 [P]
RewriteRule ^api/pekko-connectors-kafka/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-connectors-kafka/1.1/api/$1 [P]
# pekko-persistence-cassandra/current gets redirected to pekko-persistence-cassandra/1.1
RewriteRule ^docs/pekko-persistence-cassandra/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-persistence-cassandra/1.1/docs/$1 [P]
RewriteRule ^api/pekko-persistence-cassandra/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-persistence-cassandra/1.1/api/$1 [P]
# pekko-persistence-jdbc/current gets redirected to pekko-persistence-jdbc/1.1
RewriteRule ^docs/pekko-persistence-jdbc/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-persistence-jdbc/1.1/docs/$1 [P]
RewriteRule ^api/pekko-persistence-jdbc/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-persistence-jdbc/1.1/api/$1 [P]
# pekko-persistence-r2dbc/current gets redirected to pekko-persistence-r2dbc/1.0
RewriteRule ^docs/pekko-persistence-r2dbc/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-persistence-r2dbc/1.0/docs/$1 [P]
RewriteRule ^api/pekko-persistence-r2dbc/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-persistence-r2dbc/1.0/api/$1 [P]
# pekko-projection/current gets redirected to pekko-projection/1.1
RewriteRule ^docs/pekko-projection/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-projection/1.1/docs/$1 [P]
RewriteRule ^api/pekko-projection/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko-projection/1.1/api/$1 [P]
# pekko-*/current gets redirected to pekko-*/snapshot if no releases exist yet
RewriteRule ^docs/([^/]+)/current/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/docs/$2 [P]
RewriteRule ^api/([^/]+)/current/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/api/$2 [P]
RewriteRule ^japi/([^/]+)/current/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/japi/$2 [P]
# 1.0 redirect
RewriteRule ^docs/([^/]+)/1.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0/japi/$2 [P]
# 1.1 redirect
RewriteRule ^docs/([^/]+)/1.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1/japi/$2 [P]
# 1.0.0 redirect
RewriteRule ^docs/([^/]+)/1.0.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.0/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.0/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.0/japi/$2 [P]
# 1.0.1 redirect
RewriteRule ^docs/([^/]+)/1.0.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.1/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.1/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.1/japi/$2 [P]
# 1.0.2 redirect
RewriteRule ^docs/([^/]+)/1.0.2/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.2/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0.2/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.2/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0.2/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.2/japi/$2 [P]
# 1.0.3 redirect
RewriteRule ^docs/([^/]+)/1.0.3/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.3/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0.3/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.3/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0.3/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.3/japi/$2 [P]
# 1.0.4 redirect
RewriteRule ^docs/([^/]+)/1.0.4/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.4/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0.4/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.4/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0.4/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.4/japi/$2 [P]
# 1.1.0 redirect
RewriteRule ^docs/([^/]+)/1.1.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.0/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.1.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.0/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.1.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.0/japi/$2 [P]
# 1.1.1 redirect
RewriteRule ^docs/([^/]+)/1.1.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.1/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.1.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.1/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.1.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.1/japi/$2 [P]
# 1.1.2 redirect
RewriteRule ^docs/([^/]+)/1.1.2/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.2/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.1.2/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.2/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.1.2/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.2/japi/$2 [P]
# 1.1.3 redirect
RewriteRule ^docs/([^/]+)/1.1.3/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.3/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.1.3/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.3/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.1.3/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.3/japi/$2 [P]
# 1.0.3-M1 redirect
RewriteRule ^docs/([^/]+)/1.0.3-M1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.3-M1/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0.3-M1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.3-M1/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0.3-M1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.3-M1/japi/$2 [P]
# 1.1.0-M1 redirect
RewriteRule ^docs/([^/]+)/1.1.0-M1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.0-M1/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.1.0-M1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.0-M1/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.1.0-M1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.1.0-M1/japi/$2 [P]
# snapshots redirect
RewriteRule ^docs/([^/]+)/snapshot/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/docs/$2 [P]
RewriteRule ^api/([^/]+)/snapshot/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/api/$2 [P]
RewriteRule ^japi/([^/]+)/snapshot/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/japi/$2 [P]

# Security Headers
Header set Strict-Transport-Security "max-age=31536000"
Header set Content-Security-Policy "default-src 'self' https://pekko.apache.org/ ; style-src 'self' https://pekko.apache.org/ 'unsafe-inline' ; script-src 'self' https://pekko.apache.org/ 'unsafe-inline' ; frame-src 'self' ;"
Header always set X-Frame-Options SAMEORIGIN
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
Header set Referrer-Policy: strict-origin
