select.supergroup {
    width: 50%;
    border: none;
    font-size: larger;
    margin: 1rem;
    padding: 0.5rem;
}

ul.md-nav__links li {
    display: inline;
}
ul.md-nav__links li a {
    display: inline;
}
