RewriteEngine On
# snapshot docs
RewriteRule ^docs/([^/]+)/snapshot/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/docs/$2 [P]
RewriteRule ^api/([^/]+)/snapshot/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/api/$2 [P]
RewriteRule ^japi/([^/]+)/snapshot/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/japi/$2 [P]
# pekko/current gets redirected to pekko/1.0.1
RewriteRule ^docs/pekko/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko/1.0.1/docs/$1 [P]
RewriteRule ^api/pekko/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko/1.0.1/api/$1 [P]
RewriteRule ^japi/pekko/current/(.*)$ https://nightlies.apache.org/pekko/docs/pekko/1.0.1/japi/$1 [P]
# pekko-http/current gets redirected to pekko-http/snapshot because no 1.0.0 exists yet (likewise for other downstream modules)
RewriteRule ^docs/([^/]+)/current/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/docs/$2 [P]
RewriteRule ^api/([^/]+)/current/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/api/$2 [P]
RewriteRule ^japi/([^/]+)/current/(.*)$ https://nightlies.apache.org/pekko/docs/$1/main-snapshot/japi/$2 [P]
# 1.0.0 redirect (only works for pekko because no other modules are released)
RewriteRule ^docs/([^/]+)/1.0.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.0/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.0/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.0/japi/$2 [P]
# 1.0.1 redirect (only works for pekko because no other modules are released)
RewriteRule ^docs/([^/]+)/1.0.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.1/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.1/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0.1/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0.1/japi/$2 [P]
# 1.0 redirect (only works for pekko because no other modules are released)
RewriteRule ^docs/([^/]+)/1.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0/docs/$2 [P]
RewriteRule ^api/([^/]+)/1.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0/api/$2 [P]
RewriteRule ^japi/([^/]+)/1.0/(.*)$ https://nightlies.apache.org/pekko/docs/$1/1.0/japi/$2 [P]
