.hero {
  display: flex;
  align-items: center;
  background: rgb(58, 159, 180);
  background: linear-gradient(24deg, rgba(58, 159, 180, 0.8) 0%, rgba(253, 29, 29, 0.8) 50%, rgba(252, 176, 69, 0.8) 100%);
  min-height: 500px;
}

h1 {
  display: none;
}

h2 {
  text-align: center;
}

.title {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .title {
    text-align: center;
    margin: 20px 0;
  }
}

/* Styling of the outer grid */ 
.md-grid {
  max-width: 200rem;
}

.md-main__inner {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0.1rem;
}

.md-content {
  margin: 0;
}

.md-content__inner {
  margin: 0;
  padding-top: 0;
}

.md-content__inner::before {
  display: none;
  content: none
}

/* Styling Modules sections */
.row > ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 769px;
  margin: 0 auto;
}

.row ul li {
  margin: 0;
  padding: 5px;
  text-align: center;
  display: inline-block;
}

.row > ul > li {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
  padding: 15px;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row > ul > li:hover {
  opacity: 0.8;
}

.row a {
  text-decoration: none;
  color: #333;
  margin: 0 5px;
  flex-basis: 40%;
}
